@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for category pills */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
